In [1]:
import pandas as pd
data=pd.read_csv('data\hr\hr_data.csv')

<>:2: SyntaxWarning: invalid escape sequence '\h'
<>:2: SyntaxWarning: invalid escape sequence '\h'
C:\Users\aky\AppData\Local\Temp\ipykernel_9760\1898789869.py:2: SyntaxWarning: invalid escape sequence '\h'
  data=pd.read_csv('data\hr\hr_data.csv')

In [2]:
data.head()

,employee_id,full_name,role,department,email,location,date_of_birth,date_of_joining,manager_id,salary,leave_balance,leaves_taken,attendance_pct,performance_rating,last_review_date
0,FINEMP1000,Aadhya Patel,Sales Manager,Sales,aadhya.patel@fintechco.com,Ahmedabad,4/3/1991,11/20/2018,FINEMP1006,1332478.37,22,11,99.31,3,5/21/2024
1,FINEMP1001,Isha Chowdhury,Credit Officer,Finance,isha.chowdhury@fintechco.com,Pune,9/21/1995,5/20/2021,FINEMP1005,1491158.23,8,3,85.15,5,1/20/2024
2,FINEMP1002,Sakshi Malhotra,Relationship Manager,Sales,sakshi.malhotra@fintechco.com,Ahmedabad,8/5/1993,4/17/2023,FINEMP1008,1448927.95,21,7,86.31,2,2/11/2025
3,FINEMP1003,Krishna Malhotra,Business Analyst,Business,krishna.malhotra@fintechco.com,Pune,12/20/1984,6/10/2018,FINEMP1003,519865.26,12,5,84.34,1,7/24/2024
4,FINEMP1004,Aadhya Saxena,Marketing Manager,Marketing,aadhya.saxena@fintechco.com,Lucknow,3/31/1986,12/20/2022,FINEMP1008,1922205.04,21,10,86.03,3,1/12/2024

In [3]:
text=data.apply(lambda x:' '.join(x.astype(str)),axis=1).tolist()

In [5]:
md_file = "data/hr/hr.md"

with open(md_file, "w", encoding="utf-8") as f:
    for line in text:
        f.write(f"- {line}\n")

print(f"✅ Markdown saved to {md_file}")

✅ Markdown saved to data/hr/hr.md

In [16]:
# Delete the original CSV file
import os

filename = "data/hr/hr_data.csv"

if os.path.exists(filename):           # Check if the file exists
    os.remove(filename)                # Delete the file
    print(f"✅ {filename} deleted.")
else:
    print(f"❌ {filename} not found.")

✅ data/hr/hr_data.csv deleted.

In [10]:
embedding_vectors = embedding_fn.embed_documents(md_file)

['0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '50',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '76',
 '77',
 '78',
 '79',
 '80',
 '81',
 '82',
 '83',
 '84',
 '85',
 '86',
 '87',
 '88',
 '89',
 '90',
 '91',
 '92',
 '93',
 '94',
 '95',
 '96',
 '97',
 '98',
 '99']